.places h1, h2{
    font-size: 30px;
}

.articles {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    width: 390px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: left;
    position: relative;
}
article .title {
    text-align: center;
}
.price_by_night {
    color: #FF5A5F;
    border-radius: 50%;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information > div {
    width: 100px;
    height: 100%;
}
.information .icon {
    width: 100px;
    height: 55px;
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 10px;
}
.max_guest > .icon {
    background-image: url(../images/guest_icon.png);
}
.number_rooms > .icon {
    background-image: url(../images/icon_bed.png);
}
.number_bathrooms > .icon {
    background-image: url(../images/icon_bath.png);
}
.information p {
    margin: 0;
    text-align: center;
}

.user {
    margin: 10px 0;
}
.description {
    line-height: 1.4;
}

article > .amenities, article > .reviews {
    margin-top: 40px;
}
article > .amenities h2{
    font-size: 16px;
    padding-bottom: 2%;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5% 0 5% 0;
}
article > .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0;
}
article > .amenities li, ul{
    background-size: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-repeat: no-repeat;
    line-height: 25px;
}
article > .amenities >ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
article > .reviews ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
article > .reviews ul, li, h3 {
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
article > .amenities .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}
article .amenities .icon {
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: .3rem;
}
article .amenities .icons.tv {
    background-image: url(../images/icon_tv.png);
}
article .amenities .icons.wifi {
    background-image: url(../images/icon_wifi.png);
}
article .amenities .icons.pets {
    background-image: url(../images/icon_pets.png);
}

article > .reviews h3 {
    margin-top: 0px;
    font-size: 14px;
    padding-bottom: 0%;
}
article > .reviews p {
    margin: 0px;
    padding-bottom: 0%;
    font-size: 12px;
}
article > .reviews  li {
    margin-top: auto;
}
