header {
    background-color: #FFFFFF;
    background-image: url(../images/hbnb_logo.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: start;
    align-items: center;
    vertical-align: middle;
}
