header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo {
    height: 60px;
    width: 142px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}