.filters {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    position: relative;
    align-items: center;
}
button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 15%;
}
button:hover{
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    position: relative;
    margin: 0;
    float: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.title {
    font-weight: 600;
    padding: 0;
    margin: 0 0 0 40px;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0 0 0 40px;
}

ul {
    padding: 0 20px;
}
.popover ul {
    margin-bottom: 10px;
}

.popover {
    background-color: #FAFAFA;
    position: absolute;
    top: 71px;
    left: 0;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0 20px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
}
.popover li {
    list-style: none;
    line-height: 1.3;
}
.popover li > h2 {
    font-size: 16px;
    margin: 0;
}

.filters > div:hover > .popover {
    display: block;
}
